<form ng-submit="save(comment)">
  <div class="row">
    <input class="input-comments"
            type="text"
            name="comment"
            ng-model="comment.text"
            placeholder="Escreva um comentário"
            required>
      <button class="comentar-div" type="submit">
        {{ comment.id ? 'Atualizar' : 'Enviar' }}
      </button>
  </div>
</form>
  <p class="coment-title">Comentários:</p>
    <div class="post-comment" ng-repeat="comment in post.comments">
      <div class="container">
        <div class="container-coment">
          <div class="post-comment">
            <p class="comment-text">{{ comment.text }}</p>
          </div>
            <p class="comment-created-at">{{ comment.updated_at | date:"dd/MM/yyyy ',' h:mma" }}</p>
        </div>
          <div class="options">
            <div class="dropdown" ng-if="$root.currentUser.id == comment.user_id">
              <i class="gg-more-vertical-alt"></i>
                <div class="dropdown-comment">
                  <div class="edit-link" ng-click="editComment(comment)">
                    <div class="edit-content" ng-click="editComment(comment)">
                      <i class="gg-pen"></i>
                    </div>
                  </div>
                  <delete class="edit-link" 
                          comment="comment" 
                          post="post"  
                          ng-if="$root.currentUser.id == comment.user_id">
                  </delete>
                </div>
            </div>
            <like class="edit-link" comment="comment" post="post"></like>
          </div>
      </div>
    </div>
  