<!DOCTYPE html>
<html lang="pt-BR" ng-app="blog">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel="stylesheet" type="text/css" href='https://css.gg/tag.css'>
  <link rel="stylesheet" href='https://css.gg/trash.css'>
  <link rel="stylesheet" href='https://css.gg/pen.css'>
  <link rel="stylesheet" href='https://css.gg/tag.css'>
  <link rel="stylesheet" href='https://css.gg/add-r.css'>
  <title>Blog</title>
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
</head>

<body ng-controller="blogController">
  <div class="form-login" ng-if="notLogged()">
    <div class="container-fluid">
      <h1 class="head-cabecalho">Sign in to Blog</h1>
      <form ng-submit="submitLogin()">
        <label class="label-input">Email</label>
        <input type="text" 
               name="username" 
               ng-model="login.username" 
               placeholder="Email address" 
               required="required" 
               class="input-form">
        <label class="label-input">Password</label>
        <input type="password"
               name="password" 
               ng-model="login.password" 
               placeholder="Password" 
               required="required" 
               class="input-form">
        <button type="submit" class="botao">Sign in</button>
        <div class="error-login">
          {{ message }}
        </div>
        <p style="text-align: center; color: grey;">New to Blog? <a class="newtoblog" href="#/user/new">Create an account</a></p>
      </form>
    </div>
  </div>
  
  <div class="header" ng-if="logged()">
    <div class="container main_header fixed">
      <div class="menu">
        <div class="dropdown">
          <button class="dropbtn">POSTS</button>
          <div class="dropdown-content">
            <a href="#/posts">Ver posts</a>
            <a href="#/posts/new">Criar posts</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">TAGS</button>
          <div class="dropdown-content">
            <a href="#/tags">Ver tags</a>
            <a href="#/tags/new">Criar tags</a>
          </div>
        </div>
      </div>
      <div class="profile">
        <strong class="name-header">
          <a href="#/user/{{ currentUser.id }}/edit">{{ currentUser.name }}</a></strong>
        <a href="#" ng-click="logoff()" class="logout">Sair</a>
      </div>
    </div>
  </div>
  
  <div ng-view></div> <!--é o que faz o cabeçalho ficar disponíveis nas outras páginas do blog-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.20/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.20/angular-route.min.js"></script>
  <script type="text/javascript" src="app.module.js"></script>
  <script type="text/javascript" src="app.interceptor.js"></script>
  <script type="text/javascript" src="app.config.js"></script>
  <script type="text/javascript" src="app.controller.js"></script>
  <script type="text/javascript" src="controllers/PostsController.js"></script>
  <script type="text/javascript" src="controllers/TagsController.js"></script>
  <script type="text/javascript" src="controllers/UsersController.js"></script>
  <script type="text/javascript" src="services/BlogService.js"></script>
  <script type="text/javascript" src="services/CommentService.js"></script>
  <script type="text/javascript" src="services/PostService.js"></script>
  <script type="text/javascript" src="services/TagService.js"></script>
  <script type="text/javascript" src="services/UserService.js"></script>
  <script type="text/javascript" src="components/comments/form.js"></script>
  <script type="text/javascript" src="components/action/delete.js"></script>
</body>
</html>