*{ 
  margin:0;
  padding:0;
  font-family: Arial,sans-serif;
  box-sizing: border-box;
}

.main_header {
  background: rgba(240, 236, 241, 0.541);
  padding: 20px;
  border-bottom: 1px solid #7addf3a1;
  text-decoration: none;
  color: aliceblue;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

body {
  background-color: rgba(245, 242, 247, 0.534);
}

.sign_in {
  display: block;
  font-size: 24px;
  margin: 15px;
  text-align: center;
  color: #54b4ca;
  text-shadow: -1px -1px 1px rgba(34, 34, 34, 0.699);
  border-bottom: 2px solid rgb(161, 161, 161);
  margin-bottom: 30px;
  padding-bottom: 20px;
  /*background-image: linear-gradient(to right, transparent, rgb(161, 161, 161), transparent); */
}

p {
  margin-bottom:15px;
  color: rgb(22, 22, 22);
}

.menu {
  display: flex;
  float: left;
  flex-direction: row;
  color: rgb(19, 19, 19);
}

.itens-menu {
  margin-right: 40px;
  font-size: 18px;
  color: #00728b;
  font-weight: bold;
  text-decoration: none;
}

.itens-menu:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.name-header {
  margin-right: 20px;
}

.profile {
  display: flex;
  float: right;
  flex-direction: row;
  color: rgb(43, 43, 43);
}

.container-fluid {
  width: 350px;
  height: 320px;
  margin: 0px auto;
  padding: 20px;
  background-color:  rgba(241, 227, 250, 0.541);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::-webkit-input-placeholder {
  color: #bebcbc; 
  font-style: italic;
}

.input-login {
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;  
  border: 1px solid #76cbdfc9;
  -webkit-border-radius: 3px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.label-input {
  color: #464646;
  font-size: 14px;
  text-align: left;
  margin-bottom: 4px;
  position: relative;
  display: block;
}

/*estilo do botão submit */
.botao {
  width: 100%;
  cursor: pointer;  
  background: #52b3c9;
  padding: 8px 5px;
  color: rgb(0, 0, 0);
  font-size: 15px;  
  font-weight: bold;
  border: 1px solid #a3d7e2; 
  margin-top: 10px;  
  margin-bottom: 10px;
  text-shadow: 0 1px 1px rgb(202, 192, 192);
  border-radius: 50px;
}

.error-login {
  font-size: 12px;
  color: red;
  text-align: center;
}

/*página de posts*/

.posts-item{
  flex-direction: column-reverse;
  padding: 30px;
  margin-bottom: 10px;
  padding-left: 90px;
  margin-right: 240px;
  margin-left: 240px;
  background-color: #a6e5f39f;
}
.posts-item:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  background-color: #90ddee;
  border-radius: 10px;
}
.botao-ver-mais{
  text-decoration: none;
  color: #272727;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 0 99999px 99999px 99999px;
  background-color: rgb(255, 244, 230);
  justify-self: right;
  padding: 8px;
  display: block;
  float: right;
  align-self: baseline;
  transform: translate(-40%, -70%);
}
.caracteres{
  overflow: hidden;
  width: 300px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #272727;
}