*{ 
  margin:0;
  padding:0;
  font-family: 'Segoe UI','Avenir Roman';
  box-sizing: border-box;
}

.main_header {
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  text-decoration: none;
  color: aliceblue;
  justify-content: space-between;
  margin-bottom: 80px;
  text-transform: uppercase;
}

body { background-color: #F1F3F4; }

.head-cabecalho {
  display: block;
  font-size: 24px;
  margin: 15px;
  text-align: center;
  color: #54b4ca;
  text-shadow: -1px -1px 1px rgb(255 255 255);
  border-bottom: 2px solid #F1F3F4;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.tag-title {
  color: grey;
  text-align: left;
  font-size: 18px;
}

.menu {
  display: flex;
  float: left;
  flex-direction: row;
  color: rgb(68, 68, 68);
}

.itens-menu {
  margin-right: 80px;
  font-size: 18px;
  color: rgb(58, 58, 58);
  font-weight: bold;
  text-decoration: none;
}

.itens-menu:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  color: #007b97;
}

.name-header {
    margin-right: 20px;
}

.profile {
  display: flex;
  float: right;
  flex-direction: row;
  color: rgb(31, 31, 31);
}

a {
  text-decoration: none;
  color: grey;
}

.container-fluid {
  width: 350px;
  height: 370px;
  margin: 0px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign-in {
  height: 40px;
  margin: 0px auto;
  padding: 20px;
  border-radius: 5px;
  color: grey;
}

.newtoblog {
  text-align: center;
  color: #007b97;
}

::-webkit-input-placeholder {
  color: #bebcbc; 
  font-style: italic;
}

.input-form {
  width: 100%;
  font-size: 16px;
  margin-bottom: 8px;
  padding: 8px;  
  border: 1px solid #F1F3F4;
  -webkit-border-radius: 3px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.label-input {
  color: grey;
  font-size: 16px;
  text-align: left;
  margin-bottom: 4px;
  position: relative;
  display: block;
}
/*estilo do botão submit */
.botao {
  width: 100%;
  cursor: pointer;  
  background: #F1F3F4;
  border: 1px solid #F1F3F4;
  padding: 8px 5px;
  color: rgb(0, 0, 0);
  font-size: 16px;  
  font-weight: bold;
  margin-top: 10px;  
  margin-bottom: 25px;
  text-shadow: 0 1px 1px rgb(202, 192, 192);
  border-radius: 50px;
}

.botao:hover { background: #54b4ca; }

.error-login {
  font-size: 12px;
  color: red;
  text-align: center;
}

.posts-item {
  padding: 30px;
  margin-bottom: 10px;
  padding-left: 90px;
  margin-right: 240px;
  margin-left: 240px;
  background-color: white;
  border-radius: 5px;
}

.posts-item:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  background-color: rgb(253, 253, 253);
  border-radius: 10px;
  font-size: 18px;
}

.botao-ver-mais {
  text-align: center;
  text-decoration: none;
  color: grey;
  width: 100px;
  height: 40px;
  border: 1px solid #F1F3F4;
  border-radius: 5px;
  background-color:  #F1F3F4;
  padding: 8px;
  display: block;
  float: right;
  transform: translate(-40%, -70%);
  font-weight: bold;
}

.botao-ver-mais:hover { background-color: #52b3c9c9; }

.caracteres {
  overflow: hidden;
  width: 300px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  color: grey;
}

.post-name {
  color: grey;
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
}

.post-description {
  color: grey;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20px;
}

.post-comment {
  color: grey;
  text-align: left;
  font-style: italic;
  font-size: 16px;
}

.coment-title{
  color: grey;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  margin-bottom: 26px;
}

.edit-link {
  width: 50px;
  height: 35px;
  margin: 0 1px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f1f3f4;
  background-color: #f1f3f4;
  border-radius: 5px;
}

.edit-link:hover {
  background-color: #52b3c9c9;
}

.edit-link-tag {
  width: 50px;
  height: 35px;
  margin: 0 1px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f1f3f4;
  background-color: #f1f3f4;
  border-radius: 5px;
}

.edit-link-tag:hover {
  background-color: #52b3c9c9;
}

.options {
  align-items: center;
  cursor: pointer;
  justify-content: flex-end;
  display: flex;
  margin-bottom: 20px;
  text-align: right;
}

.options--justify-content {
  justify-content: center;
  text-align: center;
  margin-bottom: 5px;
}

.options--margin-bottom { margin-bottom: 0px; }

.dropdown-content { display: none; }

.options-dropdown:hover .dropdown-content { display: block; }

.conteudo-mouseon {
  font-size: 16px;
  color: grey;
  background-color: none;
}

.comentar-link {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.comentar-div {
  text-align: center;
  font-size: 16px;
  background-color: #F1F3F4;
  width: 90px;
  height: 40px;
  border: 1px solid #ffffff;
  padding: 8px;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
}

.comentar-div:hover { background-color: #52b3c9c9; }

.container-post {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 16px;
  width: 700px;
  margin-bottom: 8px;
  padding: 50px;  
  background-color: #ffffff;
  -webkit-border-radius: 3px;
  border-radius: 5px;
  align-self: center;
  color: grey;
  margin: auto;
}

.post {
  display: block;
  border-bottom: #52b3c9;
}

.link-edit-post {
  color: grey;
  text-align: center;
  margin-bottom: 26px;
}

.post-created-at {
  color: grey;
  text-align: right;
  font-size: 14px;
}

.botao-salvar-form {
  width: 80px;
  cursor: pointer;  
  background: #52b3c9;
  padding: 8px 5px;
  color: rgb(0, 0, 0);
  font-size: 15px;  
  font-weight: bold;
  border: 1px solid #a3d7e2; 
  margin-top: 10px;  
  margin-bottom: 10px;
  text-shadow: 0 1px 1px rgb(202, 192, 192);
  border-radius: 50px;
  align-self: center;
}

.botao-salvar-form:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
 
/*formulario de edição/criação de post*/
.form-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.input-title {
  font-size: 16px;
  width: 500px;
  margin-bottom: 8px;
  padding: 8px;  
  border: 1px solid #52b3c9c9;
  -webkit-border-radius: 3px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px #e4faff inset;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  align-self: center;
}

.input-title--width { width: 250px; }

.input-description {
  font-size: 16px;
  width: 500px;
  height: 300px;
  margin-bottom: 8px;
  padding: 8px;  
  border: 1px solid #52b3c9c9;
  -webkit-border-radius: 3px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px #e4faff inset;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  align-self: center;
}

/* menu dropdown */

.dropbtn {
  background-color: #f9feffb6;
  margin-right: 80px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  color: grey;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(186 186 186 / 20%);
  z-index: 1;
}

.dropdown-content a {
  color: grey;
  padding: 16px;
  text-decoration: none;
  display: block;
  border: 2px solid white;
  border-radius: 5px;
}

.dropdown-content a:hover {
  background-color: #52b3c9c9;
  font-weight: bold;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {    
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

/*tags*/

.dropdown-content-tag {
  padding: 20px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 400px;
  box-shadow: 0px 8px 16px 0px rgb(186 186 186 / 20%);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content-tag a {
  color: grey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-tag a:hover {background-color: #52b3c9c9;}

.dropdown:hover .dropdown-content-tag {
  display: block;
  background-color: #f1f3f4;
  border: 2px solid white;
}

.tag-name {
  font-size: 24px;
  color: grey;
  font-weight: bold;
  width: 100%;
}

.container-tags-item {
  display: inline-flex;
  width: 20%;
  flex-direction: column;
  border-radius: 5px;
  margin: 30px;
  text-align: center;
  padding: 5px;
  background-color: #ffff;
  justify-content: space-between;
}

.container-tags {
  background-color: #F1F3F4;
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.container-tags-item:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  background-color: rgb(255, 255, 255);
  font-size: 20px;
}

.edit-tag-link {
  color: rgb(0, 49, 209);
  font-size: 15px;
  float: right;
}

.link-edit-tag {
  text-align: center;
  margin-bottom: 10px;
}

.size-tag {
  text-align: center;
  margin-bottom: 26px;
  color: rgb(97, 97, 97);
  font-size: 14px;
}

.post-tags {
  display: inline-block;
  font-size: 15px;
  color: grey;
  font-weight: bold;
  text-align: left;
}

.post-tags-header {
  display: inline-block;
  font-size: 15px;
  color: grey;
  font-weight: bold;
  text-align: left;
}

.post-tags-header-div {
  display: inline-flex;
  text-align: center;
  padding: 10px;
  justify-content: space-around;
}

.list-tags {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  color: grey;
  cursor: alias;
}

.list-add-tags {
  margin: 5px;
  background-color: white;
  border-radius: 5px;
  display: inline-block;
  width: 45%;
  text-align: center;
  padding: 5px;
}

.list-add-tags:hover {
  background-color: #52b3c9c9;
  font-weight: bolder;
}

.grid-colums {
 grid-template-columns: 1fr 1fr;
}

.tags-list {
  text-align: center;
  color: grey;
}

/* comments */

.container {
 display: flex;
 justify-content: space-between;
}

.input-comments {
  font-size: 16px;
  width: 500px;
  margin-bottom: 20px;
  padding: 8px;  
  border: 2px solid #F1F3F4;
  border-radius: 5px;
  align-self: center;
}

.container-coment {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 90%;
  margin-bottom: 8px;
  padding: 20px;  
  border: 2px solid #F1F3F4;
  background-color: #ffffff;
  border-radius: 0 99999px 99999px 99999px;
}

.comment-text {
  color: grey;
  font-size: 16px;
  text-align: left;
}

.comment-created-at {
  color: grey;
  font-size: 12px;
  text-align: right;
}

.dropdown-comment {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgb(186 186 186 / 20%);
  z-index: 1;
  border-radius: 5px;
}
.dropdown:hover .dropdown-comment {
  display: block;
  background-color: #f1f3f4;
  border: 2px solid white;
}

/* icons  */

.gg-tag {
  border-right: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 2px solid;
  box-sizing: border-box;
  transform: scale(var(--ggs,1));
  position: relative;
  width: 19px;
  height: 14px;
  color: grey;
}

.gg-trash {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow:
      0 0 0 2px,
      inset -2px 0 0,
      inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px;
  color: grey;
}

.gg-pen {
  box-sizing: border-box;
  align-content: flex-end;
  position: relative;
  display: block;
  transform: rotate(-45deg) scale(var(--ggs,1));
  width: 14px;
  height: 4px;
  border-right: 2px solid transparent;
  box-shadow:
      0 0 0 2px,
      inset -2px 0 0;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-right: -2px;
  color: grey;
}

.gg-hashtag {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 8px;
  height: 16px;
  border-left: 2px solid;
  border-right: 2px solid;
  color: grey;
}

.gg-add-r {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs,1));
  border-radius: 4px;
  color: grey;
}

.gg-add {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid;
  transform: scale(var(--ggs,1));
  border-radius: 22px;
  align-content: space-between;
  color: #2d7400;
}

.gg-close {
  position: relative;
  border: 0px solid transparent;
  color: #b30000a6;
}

.gg-user {
  display: block;
  transform: scale(var(--ggs,1));
  box-sizing: border-box;
  width: 12px;
  height: 18px;
  color: grey;
  margin-right: 10px;
}

.gg-heart {
  box-sizing: border-box;
  position: relative;
  transform:
      translate(
          calc(-10px / 2 * var(--ggs,1)),
          calc(-6px / 2 * var(--ggs,1))
      )
      rotate(-45deg)
      scale(var(--ggs,1));
  display: block
}