*{ 
    margin:0;
    padding:0;
    font-family: 'Avenir Roman';
    box-sizing: border-box;
}
.main_header {
    padding: 20px;
    background: rgba(19, 19, 19, 0.692);
    border-bottom: 1px solid #5db5c9;
    text-decoration: none;
    color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    text-transform: uppercase;
}

body{
    background-color: rgb(19, 19, 19);
}

.sign_in {
    display: block;
    font-size: 24px;
    margin: 15px;
    text-align: center;
    color: #54b4ca;
    text-shadow: -1px -1px 1px rgb(255 255 255);
    border-bottom: 1px solid rgb(252, 80, 0);
    margin-bottom: 30px;
    padding-bottom: 20px;
    /*background-image: linear-gradient(to right, transparent, rgb(161, 161, 161), transparent); */
}

p {
    margin-bottom:15px;
    color: rgb(255, 255, 255);
}

.menu{
    display: flex;
    float: left;
    flex-direction: row;
    color: aliceblue;
}
.itens-menu{
    margin-right: 80px;
    font-size: 18px;
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
}

.itens-menu:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}
  
.name-header {
    margin-right: 20px;
}

.profile {
    display: flex;
    float: right;
    flex-direction: row;
    color: aliceblue;
}

a{
    text-decoration: none;
    color: aliceblue;
}
  
.container-fluid {
    width: 350px;
    height: 320px;
    margin: 0px auto;
    padding: 20px;
    background-color:  rgb(46, 46, 46);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::-webkit-input-placeholder {
  color: #bebcbc; 
  font-style: italic;
}

.input-login {
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;  
  border: 1px solid #52b3c9c9;
  -webkit-border-radius: 3px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.label-input {
    color: #bebcbc;
    font-size: 14px;
    text-align: left;
    margin-bottom: 4px;
    position: relative;
    display: block;
}
/*estilo do botão submit */
.botao {
  width: 100%;
  cursor: pointer;  
  background: #52b3c9;
  padding: 8px 5px;
  color: rgb(0, 0, 0);
  font-size: 15px;  
  font-weight: bold;
  border: 1px solid #a3d7e2; 
  margin-top: 10px;  
  margin-bottom: 10px;
  text-shadow: 0 1px 1px rgb(202, 192, 192);
  border-radius: 50px;
}
.error-login {
    font-size: 12px;
    color: red;
    text-align: center;
}

.posts-item {
    flex-direction: column-reverse;
    padding: 30px;
    margin-bottom: 10px;
    padding-left: 90px;
    margin-right: 240px;
    margin-left: 240px;
    background-color: #a6e5f39f;
  }
.posts-item:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  background-color: #90ddee;
  border-radius: 10px;
  font-size: 18px;
}
.botao-ver-mais {
  text-decoration: none;
  color: #fff;
  border: 1px solid rgb(255, 160, 116);
  border-radius: 0 99999px 99999px 99999px;
  background-color:  rgb(161, 51, 0);
  justify-self: right;
  padding: 8px;
  display: block;
  float: right;
  align-self: baseline;
  transform: translate(-40%, -70%);
}
.caracteres {
  overflow: hidden;
  width: 300px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #272727;
}

.post-name {
  color: black;
  font-size: 26px;
  text-align: center;
  margin-bottom: 10px;
}

.post-description {
  color: rgb(17, 17, 17);
  font-size: 20px;
  text-align: justify;
  margin-bottom: 50px;
}

.post-comment {
  color: rgb(31, 31, 31);
  text-align: center;
  font-style: italic;
}

.coment-title{
  color: rgb(29, 29, 29);
  font-weight: bold;
  font-size: 15px;
  text-align: left;
}

.edit-post-link {
  color: rgb(36, 84, 241);
  font-size: 15px;
}

.edit-post {
  text-align: right;
  margin-bottom: 20px;
}

.comentar-link {
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.comentar-div {
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(255, 116, 51);
  width: 100px;
  border: 1px solid rgb(235, 146, 105);
  padding: 8px;
  border-radius: 99999px 0 99999px 99999px;
  margin: auto;
}

.container-post{
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 16px;
  width: 700px;
  margin-bottom: 8px;
  padding: 40px;  
  border: 1px solid #52b3c9c9;
  background-color: #d1f6ff;
  -webkit-border-radius: 3px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  align-self: center;
  color: black;
  margin: auto;
}

.post {
  display: block;
  border-bottom: #52b3c9;
}

.link-edit-post {
  color: white;
  text-align: center;
  margin-bottom: 26px;
}


.botao-salvar-form {
  width: 80px;
  cursor: pointer;  
  background: #52b3c9;
  padding: 8px 5px;
  color: rgb(0, 0, 0);
  font-size: 15px;  
  font-weight: bold;
  border: 1px solid #a3d7e2; 
  margin-top: 10px;  
  margin-bottom: 10px;
  text-shadow: 0 1px 1px rgb(202, 192, 192);
  border-radius: 50px;
  align-self: center;
}

.botao-salvar-form:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
 
/*formulario de edição/criação de post*/
.form-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.input-title {
  font-size: 16px;
  width: 500px;
  margin-bottom: 8px;
  padding: 8px;  
  border: 1px solid #52b3c9c9;
  -webkit-border-radius: 3px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  align-self: center;
}

.input-description {
  font-size: 16px;
  width: 500px;
  height: 300px;
  margin-bottom: 8px;
  padding: 8px;  
  border: 1px solid #52b3c9c9;
  -webkit-border-radius: 3px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  align-self: center;
}

/* menu dropdown */

.dropbtn {
  background-color: #272727;
  margin-right: 80px;
  font-size: 18px;
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #52b3c9c9;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {    
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}