<div class="sign-in" ng-if="!user.id">
  <p>Already have an account? <a class="newtoblog" href="http://localhost/blog/"> Sign in →</a></p>
</div>
  <div class="form-create-an-account">
    <div class="container-fluid">
      <h1 class="head-cabecalho">{{ user.id ? 'Edit user' : 'Criate user'}}</h1>
      <form ng-submit="save(user)">
        <label class="label-input">Name</label>
        <input type="text" 
               name="username" 
               ng-model="user.username" 
               placeholder="Name" 
               required="required" 
               class="input-form">
        <label class="label-input">Email</label>
        <input type="text" 
               name="email"
               ng-model="user.email" 
               placeholder="Email address" 
               required="required" 
               class="input-form">
        <label class="label-input">Password</label>
        <input type="password"
               name="password" 
               ng-model="user.password" 
               placeholder="Password" 
               required="required" 
               class="input-form">
        <button type="submit" class="botao">{{ user.id ? 'Edit' : 'Criate'}}</button>
        <div class="error-login">
          {{ message }}
        </div>
      </form>
    </div>
  </div>