<div class="container-post">
<div class="container-tags">
  <p class="post-tags-header">Tags:
    <div class="post-tags-header-div" ng-repeat="tag in post.tags"> 
    <p class="post-tags-header" ng-if="$root.currentUser.id == post.user_id">{{ tag.name | uppercase }} </p>
    </div>
  </p>

</div>
    <div class="edit-content" ng-if="$root.currentUser.id == post.user_id" a href="#/posts/{{ post.id }}/edit">
      <div class="dropdown">
        <a class="edit-link-tag">
          <i class="gg-tag"></i>
        </a>
          <div class="dropdown-content-tag">
              <link-tag post="post" tag="tag" on-link-tag="onLinkTag()"></link-tag>
          </div>
      </div>
      <a class="edit-link" ng-if="$root.currentUser.id == post.user_id" href="#/posts/{{ post.id }}/edit">
        <i class="gg-pen"></i>
      </a>
      <delete class="edit-link" post="post"></delete>
    </div>
    <p class="post-name">{{ post.title | uppercase }}</p>
    <div class="post-description"><p class="post-description"> {{ post.description }} </p>
    </div>
  <comment-form post-id="post.id" callback="onComment()" current-comment="currentComment" post="post"></comment-form>
</div>